#preview-area {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    overflow-y: auto;
    background-color: var(--bg-preview);
}

#document {
    width: 800px !important;
    min-width: 800px !important;
    background: white !important;
    padding: 50px !important;
    color: #111 !important;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    position: relative;
    box-sizing: border-box;
}

.round-stamp {
    border: 2px solid #0f172a;
    border-radius: 12px;
    padding: 10px;
    width: 130px;
}

.qr-code {
    width: 90px;
    height: 90px;
    background: #f1f5f9;
    border-radius: 4px;
}

.legal-text {
    margin-bottom: 0 !important; /* Évite de rajouter du vide inutile à la fin de l'image */
}

.header-cert { display: flex; align-items: center; gap: 20px; border-bottom: 2px solid #eee; padding-bottom: 20px; margin-bottom: 30px; }
.cert-tag { background: var(--omc-dark); color: white; padding: 4px 12px; border-radius: 20px; font-size: 11px; font-weight: bold; letter-spacing: 1px; }
.cert-main-title { font-size: 32px; margin: 5px 0; color: var(--omc-dark); text-transform: uppercase; font-weight: 900; }

.cert-grid { display: grid; grid-template-columns: 1fr 1fr; gap: 15px; }
.cert-box { border: 1px solid #e2e8f0; border-radius: 8px; padding: 15px; background: #fff; }
.cert-box label { color: #64748b; font-size: 10px; text-transform: uppercase; font-weight: bold; margin-bottom: 5px; }
.cert-val { font-size: 16px; font-weight: 600; color: #1e293b; min-height: 1.2em; }

.cert-footer { display: flex; justify-content: space-between; align-items: flex-end; margin-top: 60px; }
.cert-signature { border-top: 1px solid #cbd5e1; min-width: 250px; padding-top: 10px; font-weight: bold; font-style: italic; }


.legal-text { font-size: 10px; color: #94a3b8; line-height: 1.6; margin-top: 60px; border-top: 1px dotted #e2e8f0; padding-top: 20px; text-align: justify; }
.btn-image {
    background: #ffffff !important;
    color: #000000 !important;
    border: 1px solid #ccc !important;
    text-transform: uppercase;
    font-size: 11px;
    padding: 10px !important;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
}

/* Styles Popup */
.popup-overlay {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0,0,0,0.8);
    display: flex; justify-content: center; align-items: center;
    z-index: 1000;
}
.popup-content {
    background: #112240;
    padding: 25px;
    border-radius: 10px;
    width: 500px;
    text-align: center;
    border: 1px solid var(--omc-cyan);
}
#direct-link {
    margin: 15px 0;
    background: #0a192f;
    border: 1px solid #233554;
    color: var(--omc-cyan);
    text-align: center;
}
.btn-copy { background: var(--omc-cyan); color: var(--omc-dark); width: 48%; }
.btn-close { background: #4b5563; color: white; width: 48%; }
